body {
    background-color: #243A52;
    color: white;

}

header {
    background-color: #F07B55;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-color: #F07B55;
    border-radius: 5px;  
}

main {
    margin: 10px 0px;
}

.gamearea {
    border-style: solid;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    background-color:#14212F;
    border-color: #14212F;
}

.gamearea section {
    border-style: solid;
    border-color: #14212F;
    width: 45%;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    margin: 0px 10px 2px 10px;
    padding: 10px 0px 500px;
    padding-top: 0px;
}

.gamearea p {
    background-color: #48677F;
    padding: 15px 0px 20px 0px;
    margin-top: 0px;
    border-style: solid;
    border-color: #48677F;
    border-radius: 5px;
}

.medieval {
    background-image: url("birmingham-museums-trust-5EUh-tq31eA-unsplash 1background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.modern {
    background-image: url("image\ 1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    border: none;
    background-color: #F07B55;
    padding: 14px 50px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    border-radius: 8px;

  }
  

.btn:hover {
    background: #f7beab;
}
  
.play {
    color: white;
}